
/* Page Heading Styles */
h1 {
    margin-left: auto;
    margin-top: 20px;
    color: #050505;
    font-family: 'SuperMario256';
   
}

h2 {
    color: #ffcc00; /* Gold color for subheadings */
    margin-top: 30px;
    font-family: 'SuperMario256';
}

/* Paragraph Styles */
p {
    font-family: 'SuperMario256';
    font-size: 12px;
    line-height: 1;
    color: #0b0b0b; /* Dark gray text color */
    max-width:2000px; /* Limiting width for better readability */
    margin-right:auto; /* Center alignment */
    padding: 10px;
}

/* Image Styles */
img {
    max-width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 20px auto; /* Center images */
}

/* List Styles */
ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove padding */
}

.n {
    font-family: 'SuperMario256';
    background: #72b1f1; /* Light background for list items */
    margin: 10px 0; /* Spacing between items */
    padding: 10px; /* Inner padding */
    border-radius: 5px; /* Rounded corners */
}
