@font-face {
	font-family: 'SuperMario256';
	src: url("../styles/SuperMario256.ttf");
}

body{
	background-image: url("../https://c4.wallpaperflare.com/wallpaper/57/648/903/mario-bros-nintendo-video-games-minimalism-wallpaper-preview.jpg");
	background-size: 10px*10px;
	background-repeat: repeat;
	background-color: #87CEEB;
	text-decoration-color: #FF4500;
	color: #E53B3B;
}

h1{
	font-family: "SuperMario256", system-ui;

}

.nav-item{
	font-family: "SuperMario256", system-ui;
}
.navbar-custom {
	/* background-color: #60c03a;  */
	height: 120px;
	font-family: "SuperMario256" ,system-ui;
	opacity: 2.5;
}
.nav-button {
	font-size: 300px; /* Larger text for nav items */
	color: white !important;
	background-color: #E53B3B; /* Mario Red for button */
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0 5px;
	transition: background-color 0.3s;
}
.nav-button:hover {
	background-color: #FFD700; /* Yellow when hovering */
}

#bg-img{
	height: 500px;
}
