@font-face {
	font-family: 'SuperMario256';
	src: url("SuperMario256.ttf");
}

html body{
    background-color:#76FDF6 ;
     background-repeat: repeat;
    background-size: cover;
}

h1{
	color: #E53B3B;
	font-family: "SuperMario256", system-ui;
}

.image-container{ 
    position:fixed;
    width:50% ;
    height:800vh;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 30px;
    font-family:'SuperMario256' ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add shadow to make text readable */
  }

.Colored-Box{
    font-size:10px;
    font-family: 'SuperMario256';    
}
.table-color{
    background-color:#76FDF6;
    position:center;
    width:200px;
    margin: auto;
    padding-inline:unset;
    background-color:#76FDF6;
}